DISCORD_CLIENT_ID=1421451215135132
DISCORD_CLIENT_TOKEN=EIawewaeWwaAJCEAWCJIUArawrE.WIJwrEWAIMIRWrwrrAMRIWrvaA.VIWArvawrSERVRVAWwav
BANCHO_IRC_USERNAME="Bot o teu ai"
BANCHO_IRC_PASSWORD="Aqui tambem"
