{
    "printWidth": 100,
    "useTabs": false,
    "tabWidth": 4,
    "singleQuote": false,
    "trailingComma": "all",
    "arrowParens": "always",
    "bracketSameLine": false,
    "bracketSpacing": true,
    "endOfLine": "lf",
    "semi": true
}
